server:
  port: 8100

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/PatriickRM/loan-config-repo
          username: PatriickRM
          password: ${GITHUB_TOKEN}
          default-label: main